<h1> Player_1: <%=$player_1.say_name %> HP: 100 
</h1>

<h1> Player_2: <%=$player_2.say_name %> HP: 100
</h1>
<form action="/player_2_attack" method="post">
<input type ="submit" value="player_2_attack">
</form>

